.about__mobile-btn
  color #fff
  font-size 20px
  display none

.about__mobile-nav
  display none
  flex-direction column
  a
    text-decoration none
    font-size 16px
    margin-bottom 5px
    color #fff
    &:hover
      color #000

@media(max-width:1200px)
  .about__nav
    display none
  .about__mobile-btn
    display block

@media(max-width:1400px)
  .about__menu-vid
    img 
      width 500px
      height 300px
  .about__menu-content
    padding-right 50px
    h1
      font-size 45px
  .about__content
    padding 100px 50px
  .about__adv-block
    padding 35px 0
  .about__fb-text
    margin-right 50px
  .about__connect__block-text
   margin-left 25px

@media(max-width:1200px)
  .about__menu
    flex-direction column-reverse
    align-items center
    margin-top 50px
  .about__menu-content
    padding-right 0
    text-align center
  .about__menu-vid
    margin-bottom 30px
  .about__menu-buttons
    margin-top 30px
  .about__tip
    width 270px
  .about__fb
    padding 70px 50px
  .about__fb-text
    margin-right 25px

@media(max-width:1000px)
  .about__header
    padding 50px 50px 100px 50px
  .about__menu-content
    h1
      font-size 30px
      margin-bottom 10px
    span 
      font-size 18px
  .about__content 
    padding 50px
  .about__content-text
    padding-bottom 50px
    h1
      font-size 30px
    span 
      width 90%
  .about__content-tips
    flex-direction column
    align-items center
    margin-bottom 50px
  .about__tip
    width 70%
    margin-bottom 30px
  .about__adv 
    flex-wrap wrap
  .about__adv-block
    width 50%
  .about__serv
    padding 50px 10px
  .about__serv-text
    h1
      font-size 30px
    span 
      width 90%
  .about__serv-block
    width 80vw
  .about__serv__block-text1, .about__serv__block-text2, .about__serv__block-text3, .about__serv__block-text4, .about__serv__block-text5
    flex-direction column
    img 
      margin-bottom 20px
    span 
      margin-left 0
  .about__fb
    flex-direction column
  .about__fb-text
    margin-right 0
    align-items center
    text-align center
    h2 
      width auto
      font-size 30px
    span 
      margin-bottom 20px
    button 
      margin-bottom 30px 
      padding 15px 28px
  .about__connect-block
    margin-bottom 40px
  .about__team, .about__contact
    h1
      font-size 30px

@media(max-width:800px)
  .about__menu-content
    h1
      font-size 26px
    span 
      font-size 16px
  .about__menu-buttons
    button 
      font-size 12px
      padding 18px 34px
      &:first-child
        margin-right 15px
  .about__team
    padding 50px 0
    p
      text-align center
      width auto
      padding 0 10px
  .about__contact
    span 
      width 90%

@media(max-width:600px)
  .about__menu-vid
    img 
      width 400px
      height 230px
  .about__adv-block
    width 100%
  .about__header
    padding 50px 20px 100px 20px
  .about__content
    padding 50px 20px
  .about__connect-block
    flex-direction column
    img 
      margin-bottom 20px
  .about__connect__block-text
    margin-left 0
    padding 5px
  .about__fb
    padding 70px 10px
  .team__images
    button 
      margin-right 0
      img 
        height 85px
        width 85px
  .about__contact-block
    flex-direction column
    margin-bottom 0
    input 
      margin-right 0
      margin-bottom 20px
      width 80vw
  .about__contact-message
    textarea
      margin-right 0
@media(max-width:500px)
  .about__menu-vid
    display none
  .about__contact-send
    flex-direction column
  .contact__check-block
    margin-bottom 20px
  #contact__send
    width 120px
  .about__tip
    width 90%
