@media(max-width:850px)
  .cabinet__content
    flex-direction column
  
  .cabinet__sidebar
    align-items center
    margin-bottom 10px
  
  .profile__contacts
    flex-direction column
  
  .profile__block
    input 
      width 100%
    &:first-child
      margin-right 0
