@media(max-width:1400px)
    .clothes__content
        padding-left 125px
        padding-right 125px

@media(max-width:1250px)
    .clothes__content
        padding-left 75px
        padding-right 75px

@media(max-width:1100px)
    .clothes__content--primary
        display flex
        flex-direction column
        justify-content center
        text-align center
        width 250px
        height 300px
        img
            width 250px
            height 300px
    .footer
        padding 50px 50px 20px 50px

@media(max-width:950px)
    .clothes__content
        padding-left 25px
        padding-right 25px
    .footer
        padding 50px 30px 20px 30px

@media(max-width:850px)
    .header-content
        width 70%
    .clothes__content
        flex-direction column
        justify-content center
        align-items center
    .clothes__content--primary
        height auto
    .footer-help
        span
            font-size 16px
            font-weight 500
        p
            font-size 16px
            font-weight 500
    .footer-btns
        button
            line-height 40px
            font-size 20px
            font-weight 500
    .footer-email
        line-height 24px
        span
            font-size 16px
            font-weight 500
    .footer-copy
        padding-top 30px

@media(max-width:750px)
    .footer
        padding 30px 0px 20px 0px

@media(max-width:650px)
    .footer
        padding 30px 100px 20px 100px
    .footer-content
        flex-direction column
    .footer-help
        line-height 20px

@media(max-width:650px)
    .footer-help, .footer-btns, .footer-email
      width 100%

@media(max-width:650px)
    .footer-btns, .footer-email
      margin-top 50px

@media(max-width:550px)
    .header
        padding 30px
    .header-content
        width 75%
    .footer
        padding 30px 70px 20px 70px

@media(max-width:550px)
    .footer-btns, .footer-email
      margin-top 40px

@media(max-width:450px)
    .header-content
        width 80%
    .footer
        padding 30px 50px 20px 50px

@media(max-width:400px)
    .header-content
        width 87%
    .footer
        padding 30px 10px 20px 10px
