@media(max-width:1200px)
    .main-photo
        img
            height 650px
            width 450px
    .main-text
        span
            font-size 45px
        p
            font-size 18px
    .main1-text
        span
            font-size 45px
        p
            font-size 18px
    .main__content
        padding 50px 50px 100px

@media(max-width:1100px)
    .main-photo
        img
            height 600px
            width 400px
    .main-text
        span
            font-size 40px
        p
            font-size 16px
    .main1-text
        span
            font-size 40px
        p
            font-size 16px
    .main__content
        padding 50px 25px 100px

@media(max-width:950px)   
    .main, .main1
      padding 50px 60px

@media(max-width:950px)
    .main-text
        padding-right 50px
        span
            font-size 36px
        p
            padding-top 20px
            line-height 25px
    .main1-text
        padding-left 50px
        span
            font-size 36px
        p
            padding-top 20px
            line-height 25px
    .main-photo
        img
            height 570px
            width 400px

@media(max-width:850px)
    .header-content
        width 70%
    .main__content
        padding 50px 15px 100px

@media(max-width:750px)
    .main
        flex-direction column
    .main-text
        padding-right 0
        span
            font-size 50px
            font-weight 600
        p
            font-size 20px
            padding-top 30px
            line-height 30px
    .main-photo
        text-align center
        order 2
        img
            height 570px
            width 450px
    .main1
        flex-direction column
    .main1-text
        padding-left 0
        order 1
        span
            font-size 50px
            font-weight 600
        p
            font-size 20px
            padding-top 30px
            line-height 30px
    .main__content
        flex-direction column
        padding 50px 150px 50px
    .main__content-block
        padding 0 0 50px 0
        span
            font-size 20px

@media(max-width:650px)
    .main__content
        padding 50px 100px 50px

@media(max-width:550px)
    .header
        padding 30px
    .header-content
        width 75%
    .main-text
        span
            font-size 40px
        p
            font-size 18px
    .main-photo
        img
            height 450px
            width 350px
    .main1-text
        span
            font-size 40px
        p
            font-size 18px
    .main__content
        padding 50px 50px 50px

@media(max-width:450px)
    .header-content
      width 80%
    .main-text
        span
            font-size 30px
        p
            padding-top 0px
    .main1-text
        span
            font-size 30px
        p
            padding-top 0px
    .main-photo
        img
            height 380px
            width 300px
    .main__content
        padding 50px 25px 50px
    .main__content-block
        span
            font-size 16px

@media(max-width:450px)
    .main, .main1
      padding 40px 30px

@media(max-width:400px)
    .header-content
        width 87%
    .main-text
        span
            font-size 28px
        p
            padding-top 0px
            font-size 16px
            line-height 25px
    .main1-text
        span
            font-size 28px
        p
            padding-top 0px
            font-size 16px
            line-height 25px
    .main-photo
        img
            height 370px
            width 290px

@media(max-width:400px)
    .main, .main1
      padding 40px 15px

@media(max-width:350px)
    .header-text
        h1 
            font-size 28px
