@media(max-width:1350px)
  .styles-header__text 
    span
      font-size 100px
  .styles__main
    span
      margin 0 100px
  .styles__rules
    margin 50px 100px
    img 
      width 500px
      height auto

@media(max-width:1250px)
  .styles__main
    img 
      width 400px
  .styles__collage
    img 
      height 400px
  .styles__rules
    margin 50px 50px
    img 
      width 400px
      height auto
  .styles-content__image
    img
      width 450px
  .styles-content__text
    span
      font-size 400px
  .styles__preferences
    margin 0 150px 50px

@media(max-width:1000px)
  .styles-header__text 
    span
      font-size 80px
  .styles__main
    span
      margin 0 75px
      line-height 26px
    img
      width 350px
      margin-right 75px
  .styles__rules
    margin 50px 30px
  .styles-rules__block
    margin-bottom 50px
    h2 
      margin 0 30px 
      font-size 50px
      font-weight 100
    span
      line-height 30px
  .styles-content__image
    img
      width 400px
  .styles-content__text
    span
      font-size 350px
  .styles__preferences
    margin 0 120px 50px
  .styles-individ__text
    h2 
      font-size 30px
      margin 0 0 40px
    span
      line-height 26px
  .styles-connect__content
    h2 
      font-size 40px
    span
      line-height 26px
      width 100%
      margin-bottom 30px

@media(max-width:850px)
  .styles__main
    flex-direction column-reverse
    justify-content center
    align-items center
    img 
      margin-right 0
      margin-bottom 30px
  .styles__collage
    display flex
    flex-direction column
    align-items center
    justify-content center
    img 
      width 400px
      height auto
  .styles__rules
    flex-direction column-reverse
    align-items center
  .styles-rules__block
    flex-direction column
    justify-content center
    align-items center
    margin 0 100px 30px
    h2 
      margin 0 0 20px
  .styles-content__image
    img
      width 300px
  .styles-content__text
    span
      font-size 250px
  .styles__preferences
    margin 0 70px 50px
    h2 
      font-size 40px
    span
      line-height 26px
      font-size 14px
  .styles-individ__text
    width 80%
    padding 70px 0
    h2 
      font-size 28px
      margin 0 0 40px
    span
      line-height 26px
      font-size 14px
  .styles-connect__content
    width 80vw
    h2 
      font-size 30px
    span
      font-size 14px  

@media(max-width:700px)
  .styles-header__text 
    span
      font-size 65px
  .styles-rules__block
    margin 0 50px 30px
  .styles-individ__text
    padding 50px 0

@media(max-width:550px)
  .styles-header__text 
    span
      font-size 55px
  .styles__main
    span
      margin 0 30px
  .styles__collage
    img
      width 300px
  .styles-rules__block
    margin 0 20px 30px
  .styles__rules
    img 
      width 300px
  .styles-content__image
    img
      width 250px
  .styles-content__text
    span
      font-size 200px
  .styles__preferences
    margin 0 30px 50px
    h2 
      font-size 30px
      margin-bottom 25px
    span
      line-height 24px
  .styles-individ__text
      width 90%
      h2 
        font-size 24px
      span
        line-height 22px
    .styles-connect__content
      width 90vw
      h2 
        font-size 26px

@media(max-width:400px)
  .styles-header__text 
    span
      font-size 45px
  .styles__main
    img
      width 300px
  .styles-rules__block
    margin 0 5px 30px
  .styles-content__image
    img
      width 200px
  .styles-content__text
    span
      font-size 150px
  .styles-connect__content
      h2 
        font-size 24px
