@import "base/index"
@import "page/main"
@import "page/login"
@import "page/clothes1"
@import "media/main_media"
@import "media/clothes_media"
@import "page/footer"
@import "media/footer_media"
@import "page/m-menu"
@import "media/m-menu_media"
@import "page/style"
@import "media/style_media"
@import "page/cabinet"
@import "media/cabinet_media"
@import "page/about"
@import "media/about_media"
