.checkbox
    align-items center
    display flex

.checkbox__field
    appearance none
    background #fff center center no-repeat
    background-size 80%
    border 1px solid #ccc
    flex-grow 0
    flex-shrink 0
    height 16px
    margin-right 10px
    overflow hidden
    outline none
    width 16px
    &:checked
        background-image url(../images/icons/check.svg)
