.input
    display flex
    align-items center
    padding 7px 14px
    border 1px solid #ccc
    color #ccc

.input__icon
    flex-grow 0
    flex-shrink 0
    height 16px
    margin-right 10px
    overflow hidden
    width 16px

.input__icon img,
svg
    height auto
    max-height 100%
    max-width 100%
    width auto

.input__field
    appearance none
    border none
    outline none
    font-size 14px
