.cabinet__back
  background-color lightgrey

.cabinet__caption
  display flex 
  justify-content center
  h2
    margin 0
    font-size 30px

.cabinet__content
  margin 30px 0
  display flex
  flex-direction row
  justify-content center

.cabinet__sidebar
  display flex
  flex-direction column
  margin-right 10px
  button
    width 250px
    text-align left
    padding 20px 0 20px 15px
    background-color #fff
    cursor pointer
    &:hover 
      border 1px solid #000

.cabinet__profile-info
  background-color #fff
  display none

// .cabinet__profile-info--active
//   display block

.cabinet__profile-blocks
  padding 40px 30px
  h3 
    margin-top 0
    margin-bottom 30px
    font-size 22px
  p 
    color grey
    text-transform uppercase
    font-size 10px
    font-weight 500
    margin-bottom 4px

.profile__wideblock
  input 
    width 100%
    padding 5px 10px 5px 10px
    border 1px solid lightgrey

.profile__contacts
  margin 20px 0
  display flex 
  flex-direction row

.profile__block
  input 
    padding 5px 50px 5px 10px
    border 1px solid lightgrey
  &:first-child
    margin-right 30px

.cabinet__orders-info
  background-color #fff
  display none

// .cabinet__orders-info--active
//   display block

.cabinet__orders-blocks
  padding 40px 30px
  h3 
    margin-top 0
    margin-bottom 30px
    font-size 22px
  p 
    color grey
    text-transform uppercase
    font-size 10px
    font-weight 500
    margin-bottom 4px

.orders__block
  margin-bottom 20px

.orders__select
  width 100%
  padding 5px 50px 5px 10px
  border 1px solid lightgrey

.orders__wideblock
  input 
    width 100%
    padding 5px 10px 5px 10px
    border 1px solid lightgrey

.cabinet__save
  margin-top 30px
  border 1px solid #000
  color #000
  cursor pointer
  padding 10px 25px
  font-size 14px
  &:hover
    background-color #000
    color #fff
