.footer
    background-color #222222
    color #fff
    padding 70px 100px 20px 100px

.footer-content
    display flex
    justify-content center
    flex-direction row

.footer-help,
.footer-btns,
.footer-email
    width 25%
    text-align center

.footer-help
    line-height 30px
    span
        text-transform uppercase
        font-size 18px
        font-weight 600
    p
        font-size 18px
        font-weight 700

.footer-btns
    display flex
    flex-direction column
    button
        color #fff
        line-height 50px
        font-size 24px
        font-weight 600
    a
        cursor default

.footer-email
    line-height 30px
    span
        text-transform uppercase
        font-size 18px
        font-weight 600
    input
        margin-top 15px
        padding 8px
        border 1px solid #fff
        background none
        color #fff
    button
        color #fff
        cursor pointer

.footer-links
    padding-top 25px
    text-align center
    a
        padding 0 15px
        font-size 20px
        color #fff

.footer-copy
    padding-top 50px
    text-align center
    color #fff

