.header
    display flex
    justify-content space-between
    flex-direction row
    padding 30px 70px

.header-content
    display flex
    justify-content space-between
    width 57%

.header-btns
    button
        border none
        background none
        font-size 14px
        text-transform uppercase
        margin-right 10px
        cursor pointer
        &:hover
            font-weight 600

.header-text
    h1
        font-family "Lexend Mega", sans-serif
        margin 0
        text-transform uppercase
        font-weight 700

.header-login
    display flex
    align-items center
    a
        svg
            color #000
            width 25px
            height 25px

.search__form
    position relative
    width 300px
    margin 0 auto
    border 0.1px solid #000
    input
        height 42px
        padding-left 15px
    button
        height 42px
        width 42px
        position absolute
        top 0
        right 0
        cursor pointer
        background center center no-repeat url(../../images/icons/search.svg)
        background-size 20px

.search__form input,
button
    border none
    outline none
    background transparent
