.page-login
    display flex
    align-items center
    justify-content center
    background #ddd

.page-login__form
    background #fff
    padding 20px

.page-login__enter
    width 100%

.page-login--with-background
    background #000
