.main
    display flex
    flex-direction row
    padding 60px 100px

.main-text
    display flex
    align-content center
    flex-direction column
    align-items center
    justify-content center
    padding-right 100px
    span
        font-size 50px
        text-transform uppercase
        text-align center
        font-weight 600
    p
        font-size 20px
        text-align center
        padding-top 30px
        line-height 30px

.main1
    display flex
    flex-direction row
    padding 60px 100px

.main1-text
    display flex
    align-content center
    flex-direction column
    align-items center
    justify-content center
    padding-left 100px
    span
        font-size 50px
        text-transform uppercase
        text-align center
        font-weight 600
    p
        font-size 20px
        text-align center
        padding-top 30px
        line-height 30px

.main-photo
    img
        height 750px
        width 550px

.main__content
    display flex
    justify-content center
    padding 50px 100px 0

.main__content-block
    padding 0 10px
    display flex
    flex-direction column
    justify-content center
    align-items center
    align-content center
    img, svg
        width 90x
        height 90px
        margin-bottom 30px
    span
        line-height 25px
        color gray
        font-family "Poppins", sans-serif

.main__break-line
    content ""
    display block
    width 90%
    height 1.5px
    margin 50px auto
    background-color #000

.main__news
    display flex
    justify-content center
    &:before
        content ""
        
    span
        font-size 16px
        font-style italic
    a
        text-decoration none
        color gray
        &:hover
            color red


