.header
    display flex
    justify-content space-between
    flex-direction row
    padding 30px 70px

.header-content
    display flex
    justify-content space-between
    width 57%

.header-btns
    button
        border none
        background none
        font-size 14px
        text-transform uppercase
        margin-right 10px
        cursor pointer
        &:hover
            font-weight 600

.header-text
    h1
        font-family "Lexend Mega", sans-serif
        margin 0
        text-transform uppercase
        font-weight 700

.header-login
    display flex
    align-items center
    a
        color #000
        font-size 22px

.search__form
    position relative
    width 300px
    margin 0 auto
    border 0.1px solid #000
    input
        height 42px
        padding-left 15px
    button
        height 42px
        width 42px
        position absolute
        top 0
        right 0
        cursor pointer
        &:before
            content "\f002"
            font-family FontAwesome

.search__form input,
button
    border none
    outline none
    background transparent

.main
    display flex
    flex-direction row
    padding 60px 100px

.main-text
    display flex
    align-content center
    flex-direction column
    align-items center
    justify-content center
    padding-right 100px
    span
        font-size 50px
        text-transform uppercase
        text-align center
        font-weight 600
    p
        font-size 20px
        text-align center
        padding-top 30px
        line-height 30px

.main1
    display flex
    flex-direction row
    padding 60px 100px

.main1-text
    display flex
    align-content center
    flex-direction column
    align-items center
    justify-content center
    padding-left 100px
    span
        font-size 50px
        text-transform uppercase
        text-align center
        font-weight 600
    p
        font-size 20px
        text-align center
        padding-top 30px
        line-height 30px

.main-photo
    img
        height 750px
        width 550px

.main__content
    display flex
    justify-content center
    padding 50px 100px 0

.main__content-block
    padding 0 10px
    display flex
    flex-direction column
    justify-content center
    align-items center
    align-content center
    img, svg
        width 90x
        height 90px
        margin-bottom 30px
    span
        line-height 25px
        color gray
        font-family "Poppins", sans-serif

.main__break-line
    content ""
    display block
    width 30%
    height 1.5px
    margin 50px auto
    background-color #000

.main__news
    display flex
    justify-content center
    &:before
        content ""
        
    span
        font-size 16px
        font-style italic
    a
        text-decoration none
        color gray
        &:hover
            color red
