.header
    display flex
    justify-content space-between
    flex-direction row
    padding 30px 70px

.header-content
    display flex
    justify-content space-between
    width 57%

.header-btns
    button
        border none
        background none
        font-size 14px
        text-transform uppercase
        margin-right 10px
        cursor pointer
        &:hover
            font-weight 600

.header-text
    h1
        font-family "Lexend Mega", sans-serif
        margin 0
        text-transform uppercase
        font-weight 700

.header-login
    display flex
    align-items center
    a
        color #000
        font-size 22px

.search__form
    position relative
    width 300px
    margin 0 auto
    border 0.1px solid #000
    input
        height 42px
        padding-left 15px
    button
        height 42px
        width 42px
        position absolute
        top 0
        right 0
        cursor pointer
        &:before
            content "\f002"
            font-family FontAwesome

.search__form input,
button
    border none
    outline none
    background transparent

.main
    display flex
    flex-direction row
    padding 60px 100px

.main-text
    display flex
    align-content center
    flex-direction column
    align-items center
    justify-content center
    padding-right 100px
    span
        font-size 50px
        text-transform uppercase
        text-align center
        font-weight 600
    p
        font-size 20px
        text-align center
        padding-top 30px
        line-height 30px

.main1
    display flex
    flex-direction row
    padding 60px 100px

.main1-text
    display flex
    align-content center
    flex-direction column
    align-items center
    justify-content center
    padding-left 100px
    span
        font-size 50px
        text-transform uppercase
        text-align center
        font-weight 600
    p
        font-size 20px
        text-align center
        padding-top 30px
        line-height 30px

.main-photo
    img
        height 750px
        width 550px

.main__content
    display flex
    justify-content center
    padding 50px 100px 100px

.main__content-block
    padding 0 10px
    display flex
    flex-direction column
    justify-content center
    align-items center
    align-content center
    img, svg
        width 90x
        height 90px
        margin-bottom 30px
    span
        line-height 25px
        color gray
        font-family "Poppins", sans-serif

.footer
    background-color #222222
    color #fff
    padding 70px 100px 20px 100px

.footer-content
    display flex
    justify-content center
    flex-direction row

.footer-help,
.footer-btns,
.footer-email
    width 25%
    text-align center

.footer-help
    line-height 30px
    span
        text-transform uppercase
        font-size 18px
        font-weight 600
    p
        font-size 18px
        font-weight 700

.footer-btns
    display flex
    flex-direction column
    button
        color #fff
        line-height 50px
        font-size 24px
        font-weight 600
    a
        cursor default

.footer-email
    line-height 30px
    span
        text-transform uppercase
        font-size 18px
        font-weight 600
    input
        margin-top 15px
        padding 8px
        border 1px solid #fff
        background none
        color #fff
    button
        color #fff
        cursor pointer

.footer-links
    padding-top 25px
    text-align center
    a
        padding 0 15px
        font-size 20px
        color #fff

.footer-copy
    padding-top 50px
    text-align center
    color #fff

.m-menu-link
    display none
    color #000
    font-size 2rem

.m-menu
    position fixed
    left 0
    top 0
    height 800px
    width 100%
    text-align center
    list-style none
    font-size 2rem
    line-height 5rem
    margin 0
    padding 0
    background #fff
    display flex
    flex-direction column
    align-items center
    justify-content center
    transform translateX(100%)
    transition 0.5s

.m-menu__active
    transform translateX(0%)

.close-menu
    position fixed
    right 2rem
    top 0
    font-size 5rem
    font-weight 900
    &:hover
        cursor pointer

.m-contacts-link
    display none
