<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/index.css"/>
  <link rel="icon" href="images/favicon.png" type="image/x-icon">
  <title>Авторизация</title>
</head>

<body class="page-login page-login--with-background">

  <form action="/auth" method="post" class="form page-login__form">
    <h1 class="form__title page-login__title">Авторизация</h1>
    <div class="input-login form__control">
      <span class="input__icon">
        <img src="images/icons/user.svg" alt="">
      </span>
      <input type="text" class="input__field input__field--text" placeholder="Email" name="userName">
    </div>
    <div class="input-login form__control">
      <span class="input__icon">
        <img src="images/icons/key.svg" alt="">
      </span>
      <input type="password" class="input__field input__field--text" placeholder="Пароль" name="userPassword"> 
    </div>
    {{!-- <label for="login-remember" class="checkbox-login form__control">
      <input id="login-remember" type="checkbox" class="checkbox__field">
      Запомнить меня
    </label> --}}
    <div class="form__control">
      <button type="submit" class="button--primary page-login__enter" id="login__btn">
        Войти
      </button>
    </div>
  </form>
  
  <script src="script/index.js"></script>

</body>
</html>
